.give{
    max-width: 100%;
    height: auto;
}

.img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(235, 197, 129);
    position: relative;
    display: flex;
    justify-content: end; 

}
.img1{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(235, 197, 129);
    position: relative;
    display: flex;
    justify-content:start; 
    
}

.bit:hover{ 
    color: navy;
    background-color: white;
    transition-duration: 0.1s;
    cursor: pointer;
}
.bit{
    background-color:rgb(1, 1, 64) ;
}
.bit1{
    color: orange;
    background-color: rgb(1, 1, 64);
}
.bit1:hover{ 
    border:solid darkgrey;
    color:black;
    background-color: white;
    transition-duration: 0.1;
    cursor: pointer;
    
    
}
.col-lg-5{
    border: 1;
}
       


@media only screen and (max-width: 320px){
  
#offcanvasRight{
    width: 60% !important;;
}
.col-lg-4{
    margin-top: 50px;
}

}
@media only screen and (max-width:768px){
    #offcanvasRight{
        width: 30%;
    } 
    .col-lg-4{
        margin-top: 60px !important;
    } 
   .col-lg-2{
    margin-top: 40px !important;
   }
   
}
